<h1>Users</h1>

<ul [@listStagger]="users$.items">
  <li *ngFor="let user of users$.items">
    <a routerLink="/details/{{user.login}}">{{ user.login }}</a>

    <ul>
      <li>{{ user.email }}</li>
      <li>{{ user.id }}</li>
    </ul>
  </li>
</ul>
