input[type=text]{
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    min-width: 70%;
}
button[type=submit]{
    margin-left: 10px;
    border: none;
    padding: 13px 20px;
    border-radius: 10px;
    background: #2D2E2E;
    min-width: 20%;
    color: #cecece

}