<h1>{{ user$.items[0].login }}</h1>

<ul>
  <li><img src="{{ user$.items[0].avatar_url }}" alt=""></li>
  <li><strong>gists_url:</strong> {{ user$.items[0].gists_url }}</li>
  <li><strong>Score:</strong> {{ user$.items[0].score }}</li>
</ul>